@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>How to Secure Your .NET Web API with Token Authentication</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://developer.okta.com/blog/2018/02/01/secure-aspnetcore-webapi-token-auth">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Angular and ASP.NET Web API</h2>
        <p>Build a CRUD App with ASP.NET Framework 4.x Web API and Angular</p>
        <p><a class="btn btn-default" href="https://developer.okta.com/blog/2018/07/27/build-crud-app-in-aspnet-framework-webapi-and-angular">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Use OpenID Connect for Authorization in Your ASP.NET MVC Framework 4.x App</h2>
        <p>Use OpenID Connect for Authorization in Your ASP.NET MVC Framework 4.x App.</p>
        <p><a class="btn btn-default" href="https://okta.github.io/blog/2018/04/18/authorization-in-your-aspnet-mvc-4-application">Learn more &raquo;</a></p>
    </div>
</div>